
.home-page {
  background-color: black;
  min-height: 100vh;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  overflow: auto;
}

.followers-scroller {
  background-color: lightcoral;
  height: 18%;
  min-height: 5vh;
  width: 100%;
  padding-top: 2vh;
  padding-left: 1vw; 
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  overflow-x: auto;
  gap: 15px;
}

.icon-container {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 120;
  height: 120;
  border-radius: 50%;
  background-color: lightgray;
  padding-bottom: 20;
}

.picture-container {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 120;
  height: 120;
  border-radius: 50%;
}