.image-modal {
    max-width: 90vw; 
    max-height: 70vh;
    min-height: 70vh;
    width: 90vw;     
    height: 70vh;
    margin-top: 10vh;
}

.modal-body {
    display: flex;
    justify-content: center;
    background-color: rgb(0, 0, 0);
}

.goal {
    width: 30vw;
    padding: 10px;
    max-height: 80vh;
    overflow-y: scroll;
    justify-content: center;
}

.image-container {
    display: flex;
    width: 30vw;
    height: auto;
    flex-direction: column;
}

.comment-section {
    width: 30vw;
    display: flex;
    flex-direction: column;
    max-height: 70vh;
    color: white;
}

.comment-section .post-information .image-title {
    font-size: large;
}

.comments {
    overflow-y: auto;
    overflow-x: hidden;
    padding-top: 10px;
    margin-top: 10px;
    flex-grow: 1;
}

.comment {
    overflow-wrap: break-word;
    color: white;
}

.input-comment {
    background-color: rgb(41, 41, 41);
}